<h3><%= t 'users.captions.new_form_title' %></h3>

<%= form_for user, remote: true do |f| %>
    <div class="row">

      <% unless user.errors.empty? %>
        <div class="small-12 columns">
          <div class="callout warning">
            <%= safe_join user.errors.full_messages, tag(:br) %>
          </div>
        </div>
      <% end %>

      <div class="small-4 columns">
        <label>
          <%= User.human_attribute_name :email %>
          <%= f.text_field :email %>
        </label>
      </div>

      <div class="small-4 columns">
        <label>
          <%= User.human_attribute_name :password %>
          <%= f.password_field :password %>
        </label>
      </div>

      <div class="small-4 columns">
        <br>
        <%= f.submit class: 'button success' %>
      </div>

    </div>
<% end %>
