<div class="section {{section}} {{#if actions}}on_turn{{/if}}">
    <span class="title">{{title}}</span>

    {{#if actions}}{{#each actions}}
        <button type="button" class="button secondary" data-action="{{action}}" data-args="{{args}}">{{text}}</button>
    {{/each}}{{/if}}

    <br/>

    {{#each cards}}
        <span class="card {{suit}} {{#if @first}}first{{/if}} {{#if @last}}last{{/if}} {{#if hidden}}hidden{{/if}}"
              data-card="{{index}}" {{#if can_lay}}data-action="lay"{{/if}}>{{text}}</span>
    {{/each}}

    {{#if queer}}{{queer}}{{/if}}

</div>